.image {
    background-color: white;
    border-radius: 10px;
    width: 220px;
    height: 400px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    object-fit: fill;
    overflow: hidden;
    align-content: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    perspective: 1000px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;

}

.image img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.image:hover img {
    transform: scale(1.2) rotateY(10deg);
}
.titl {
    font-size: 15px;
  }
  .pric {
    font-size: 40px;
    font-family: Georgia, serif;
    color:rgb(125, 203, 125);
   
  }
  
  .contents {
    align-items: center;
    border: hidden;
    margin: 10px;
    padding: 20px;
    height: 410px;
    width: 720px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
  }