.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
  }
  
  .contact-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-text b {
    font-size: 16px;
    line-height: 1.5;
  }
  
  
  @media (max-width: 768px) {
    .contact-text h1 {
      font-size: 20px; 
    }
  
    .contact-text b {
      font-size: 14px; 
    }
  }